<div class="<%= class_name %>" style="width: 300px;">
    <div class="card-divider">
        <%= header %>
    </div>
    <img src="assets/img/rectangle-1.jpg">
    <div class="card-section">
        <h4><%= title %></h4>
        <p><%= body %></p>
    </div>
</div>

<div id="<%= class_name %>"></div>